<div class="row justify-content-center align-items-center h-100">
  <%= form_for @student do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br />
    
    <%= f.label :grade %>:
    <%= f.text_field :grade %><br />
    <%= f.submit 'Create' %>
  <% end %>
</div>