<h1 class="text-center">Sign Up</h1>

<div class="row justify-content-center align-items-center h-100">
    <%= form_for @user, :html => {:class => "form-horizontal center"} do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </p>
      <p>
        <b>Are you a student?</b><br />
        <%= label :isstudent, "Yes", value: false %>
        <%= f.radio_button :isstudent, true, :value => true %>
        <%= label :isstudent, "No", value: false %>
        <%= f.radio_button :isstudent, false, :value => false %>
      </p>
      <p class="button"><%= f.submit %></p>
    <% end %>
</div>
